@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<html>
<head>
    img scr "https://www.google.com/search?q=avondale+college&safe=active&sxsrf=ALeKk00X-Q84Jpy8rjywWLgEF6XpR7M1Rw:1599015993514&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiUiaLivsnrAhWozDgGHcbTDhYQ_AUoAnoECB0QBA&biw=1920&bih=1057#imgrc=Xlx565SZeEDKbM"
    </body>
</html>