@{
    ViewData["Title"] = "Privacy Policy of Avondale College";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="jumbotron text-center">
    <h2>Avondale College operates the Avondale School Website, which provides the service. </h2>
    <p>Ibis page is used to inform welmite visitors regarding our policies vatb the collection, use, and disclosure of Personal Information if anyone decid. to u. our Service, the Welosite Name website. </p>
    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Cookies </h3>
            <p>Cookies are files with small amount of data Nat rs commonly used an anonymous unique identifier.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>